@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply overflow-x-hidden bg-background font-sans text-white antialiased;
  }
}
